.logo {
  font-size: 20px;;
  font-weight: 800;
  color: var(--white);
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 18px;;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    font-size: 16px;;
  }
}