.empty-message {
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  color: var(--grey);
}

.links-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 40px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.dropdown {
  &__toggle {
    width: 170px;
    border: 1px solid var(--black) !important;
    background-color: transparent !important;
    color: var(--black) !important;
    font-size: 14px !important;
  }

  &__menu {
    width: 170px;
  }

  &__item {
    font-size: 14px;
  }
}

.table {
  width: 100%;
  margin: 0 auto;
}

.button {
  width: 170px;
  height: 40px;
  align-self: flex-end;
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: var(--black);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  transition: .5s ease;

  &:hover {
    border-color: var(--green);
    letter-spacing: .5px;
    color: var(--white);
    background-color: var(--green);
  }
}

@media screen and (max-width: 600px) {
  .empty-message {
    font-size: 14px;
  }

  .header {
    height: 30px;
  }

  .title {
    font-size: 24px;
  }

  .dropdown {
    &__toggle {
      height: 30px;
      width: 50px;
      padding: 3px !important;
      border: 1px solid var(--black) !important;
      background-color: transparent !important;
      color: var(--black) !important;
      font-size: 16px !important;
      content: '';
    }

    &__menu {
      width: 160px !important;
    }
  
    &__item {
      font-size: 12px;
    }
  }

  .button {
    width: 120px;
    height: 35px;
    font-size: 12px;
  }
}
